html {
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0px;
}

.container {
    width: 80%;
    height: 60px;
    margin: auto;
    overflow: hidden;
}

.container--header {
    background-color: #ff3f10;
    height: 70px;
}

.logo {
    margin: 5px;
    float: left;
    width: 200px;
    height: 70px;
}

.logoend {
    padding-left: 20px;
    width: 140px;
    height: 70px;
}

#nav {
    float: left;
    font-size: 21px;
    height: 70px;
}

.search {
    float: right;
    min-width: 270px;
    height: 44px;
    margin: 12px 14px;

}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li {
    float: left;
}


li a{
    display: block;
    color:#eee;
    text-align: center;
    padding: 19px 16px;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

li a:hover{
    background-color: #eee;
    color: #ff3f10;
    outline: 0;
}

li.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color:#eee;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdown__content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.dropdown__content {
    display: none;
}

.container--section {
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-position: right top;
    height: 640px;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.5)),url('./images/endava.jpg');
    background-size: cover;
}

.bigText {
    color: #eee;
    width: 100%;
    font-size: 120px;
    line-height: 148px;
    font-weight: bold;
    padding-bottom: 30px;
      
}

p {
    margin: 0px;
}

.container--footer {
    height: auto;
    padding-top: 20px;
}

.bodyText {
    width: 968px;
    text-align: center;
    margin: auto;
}

.btn {
    background-color: #ff3f10;
    border: 0px;
    float: right;
    cursor: pointer;
}

#searchText {
    float: left;
    padding: 6px;
    margin-top: 8px;
    font-size: 15px;
    background-color: #ff3f10;
    color:white;
    font-style: italic;
    outline: none;
    width: 70%;
    display: none;
    border-bottom: 1px solid white;
    border-left: none;
    border-right: none;
    border-top: none;
}

::-webkit-input-placeholder { 
    color:white;
  }

  .box {
      background-color: #ff3f10;
      width:100px;
      height:15px;
      display: flex;
      margin: auto;
  }

  .container__final {
    float: left;
    color: cyan;
    align-self: center;
    text-align: center;
    padding-left: 100px;
    padding-top: 20px;
  }
